html , * {
  box-sizing: border-box;
  outline: none!important;
}

body {
  background-color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

a {
  color: white;
  display: block;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $daffodil;
  }
}


h1 {
  font-weight: 100;
}

ul.inline {
  //display: flex;
  //flex-flow: row nowrap;
  li {
    //flex:1 auto;
    display: inline-block;
  }



}
#app {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.container {

}

.text-right {
  text-align: right;
}


